.heading{
  color: red;
  font-weight: 900;
}

.sub-heading{
  color: blue;
}

.image{
  width: 200px;
}

.label{
  font-size: 20px;
    display: inline-block;
    width: 200px;
}

.input{
  width: 250px;
  font-size: 20px;
}

.space-bottom{
  margin-bottom: 10px;
}

.icon{
  margin-left: 15px;
  width: 25px;
  cursor: pointer;
}

.border-red{
  border: 3px solid red;
}

.align-flex{
  display: flex;
  flex-direction: row;
}

.header{
  border: 2px solid red;
  height: 10vh;
}

.body{
  border: 2px solid;
  height: 86vh;
  display: flex;
  flex-direction: row;
}

.sidebar{
  border: 2px solid red;
  width: 25%;
  display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.content{
  border: 2px solid red;
  width: 75%;
}

.button{
  text-decoration: none;
    border: 2px solid;
    background-color: #673ab7;
    color: white;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
}

.active-btn{
  background-color: black;
}

#customers {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#customers td, #customers th {
  border: 1px solid #ddd;
  padding: 8px;
}

#customers tr:nth-child(even){background-color: #f2f2f2;}

#customers tr:hover {background-color: #ddd;}

#customers th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #04AA6D;
  color: white;
}