h1{
  color: rgb(250, 2, 2);
  text-align: center;
  text-decoration: underline;
  text-transform: capitalize;
  letter-spacing: 25px;
}

a{
  text-decoration: none;
}

p{
  text-indent: 150px;
  line-height: 5;
  word-spacing: 20px;
}

#block-1 {
  width: 250px;
  height: 250px;
  background-color: blue;
}

#block-2{
  width: 50vw;
  height: 50vh;
  background-color: brown;
}

.block{
  width: 50%;
  height: 50%;
  background-color: black;
}

.bg{
  /* background-color: burlywood; */
  background-image: url("./shinchu.jpg");
  background-size: 300px 200px;
  background-repeat: no-repeat;
}

.border{
  /* border-style: solid; */
  border-width: 3px;
  /* border-color: red; */
  border-top-style: double;
  border-right-style: dashed;
  border-bottom-style: solid;
  border-left-style: dotted;

  border-top-color: black;
  border-right-color: red;
  border-bottom-color: blueviolet;
  border-left-color: chartreuse;
}

.short-border{
  border: 3px solid blue;
  border-radius: 10px;
}