h1{
  color: rgb(250, 2, 2);
  text-align: center;
  text-decoration: underline;
  text-transform: capitalize;
  letter-spacing: 10px;
}

a{
  text-decoration: none;
}

p{
  text-indent: 150px;
  line-height: 5;
  word-spacing: 20px;
}